@tailwind base;
@tailwind components;
@tailwind utilities;


.presentation {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 2;
    font-weight: 50; /* Thin weight */
    /*font-style: italic; /* Italic style */
    margin: 44px 0;
}

.body{
    color: #312107;/* #3F3F46; /* Adjust the color for readability */
    background-color: #FBDBA7;
}

.title{
    font-family: "Great Vibes", serif;
    font-weight: 100;
    font-style: normal;
    margin:0;
    white-space: nowrap; /* Prevent wrapping */
    width: 100%;
}

.subtitle{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 21px;
    font-weight: 40; /* Thin weight */
    margin: 0px;
    color: #62420E;
}

.page2{
    background-image: url("../public/forma3.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.page3{
    background-color: #F9F5F1;
}

.card{
    background-color: #C4841D;
    color: #FBDBA7;
}

.footer{
    background-color: #312107;
    color: #FEFCE8;
}

.container {
    position: relative; /* Parent container for positioning */
    margin: auto;
    overflow: visible;
}
  
.content-back {
    position: relative;
    width: 50vw;
    top: 0;
    left: -15vw;
    z-index: 1; /* Lower z-index pushes this content behind */
}

.content-back-2 {
    position: relative;
    width: 50vw;
    top: 0;
    left: 0;
    z-index: 1; /* Lower z-index pushes this content behind */
}
  
.content-front {
    position: absolute;
    top: 50px; /* Adjust position */
    left: 50px; /* Adjust position */
    z-index: 2; /* Higher z-index brings this content to the front */
}